.homepage-container{
    overflow: hidden;
    position: relative;
    width: 100%;
    border: 1px solid red;
}
.bg-column{
    width: 100%;
    position: absolute;
    height: fit-content;
    display: flex;
    justify-content: center;
    top: 0;
    bottom: 0;
}

.bg-column > .col-1{
    max-width: 100px;
    height: 100%;
    margin: 0 20px;
    content: " ";
    background-color: #707070;
    opacity: 0.05;
}