.servicelist-container{
        width: 100%;
        margin-left: 2px;
}
.servicelist-card{
        min-width: 300px;
        min-height: 212px;
        height: auto;
        background: #FFFFFF;
        border-radius: 20px;
}
.servicelist-card .alert{
        height: 30px;
        width: 70px;
        border-radius: 5px;
        font-size: 14px;
}